<!--
  Generated template for the Newtask page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add New Task</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (ngSubmit)="addTask()">

    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea name="info" type="text" [(ngModel)]="item.info"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Due Date</ion-label>
      <ion-datetime name="due_date" displayFormat="MMM DD YYYY" min="2017" max="2050" [(ngModel)]="item.due_date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Assign To</ion-label>
      <ion-input name="assigned_to" type="text" [(ngModel)]="item.assigned_to"></ion-input>
    </ion-item>

    <button ion-button full primary type="submit">Add Task</button>
    <button ion-button full color="danger" type="button" (click)="navCtrl.pop()">Cancel</button>
  </form>

</ion-content>
