<ion-header>
  <ion-navbar>
    <ion-title align="center">
      Tasks
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
      <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
        {{ item.info }}
      </button>
    </ion-list>
    <button ion-button full (click)="gotoNewTaskPage()">Add Task</button>
</ion-content>
