<!--
  Generated template for the Details page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Task #{{ item.id }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <b>Description</b>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{ item.info }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-33>
        <b>Due Date</b>
      </ion-col>
      <ion-col width-67>{{ item.due_date }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-33>
        <b>Assigned To</b>
      </ion-col>
      <ion-col width-67>{{ item.assigned_to }}</ion-col>
    </ion-row>
  </ion-grid>

  <hr />

  <ion-grid>
    <ion-row>
      <ion-col text-center>
          <h2>History</h2>
          <button ion-button (click)="loadPrev()">Load Previous</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-card ion-item *ngFor="let note of notes">

      <ion-card-header text-right>
        {{ note.since }}
      </ion-card-header>

      <ion-card-content>
        <div [ngSwitch]="note.is_img">
          <div *ngSwitchCase="'true'">
            <img src="{{ note.img }}" alt="{{ note.info }}" />
          </div>
          <div *ngSwitchCase="'false'">
            {{ note.info }}
          </div>
        </div>
      </ion-card-content>

    </ion-card>
  </ion-list>

  <form (ngSubmit)="addNote()">

    <ion-item>
      <ion-label>Note</ion-label>
      <ion-textarea name="info" type="text" [(ngModel)]="note.info"></ion-textarea>
    </ion-item>

    <button ion-button full primary type="submit">Add Note</button>

    <ion-grid>
    <ion-row>
      <ion-col text-center>
        <button ion-button icon-only type="button" (click)="takePhoto()">
          <ion-icon name="camera"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>

</ion-content>
